@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    @apply max-w-[100rem] mx-auto p-[1rem]
}

.bg-clip-text {
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 3px;
  }

@layer utilities{
    .btn{
        @apply inline-block py-[.8rem] px-[1.5rem] border-transparent
    }

    .green{
        @apply text-[1.2rem] bg-primary rounded-[.3rem] hover:bg-dark transition ease-in-out duration-300 font-[600]
    }

    .shallow-green{
        @apply text-[1.2rem] bg-transparent rounded-[.3rem] border-[1px] border-primary hover:bg-primary transition ease-in-out duration-300 font-[600]
    }

    .shallow-white{
        @apply text-[1.2rem] bg-transparent border-[1px] border-grey rounded-[.3rem] text-dark hover:text-light hover:bg-primary hover:border-primary transition ease-in-out duration-300
    }
}

@layer components{

    /** ---------- MOBILE HEADER ---------- */

    .header-mob{
        @apply lg:hidden
    }

    .branding{
        @apply bg-light flex justify-center py-[1rem]
    }

    .header-mob__wrapper{
        @apply relative bg-primary
    }

    .header-mob__content{
        @apply flex items-center justify-between
    }

    .header-mob__text{
        @apply text-light text-[1.2rem] font-[600]
    }

    .header-mob__nav{
        @apply max-h-0 overflow-hidden
    }

    .header-mob__nav.open{
        @apply max-h-fit
    }

    .header-mob__nav ul li.first-drop{
        @apply border-t-[1px] cursor-pointer
    }

    .header-mob__nav ul li.first-drop h4{
        @apply flex items-center justify-between px-[1rem] py-[.9rem]
    }

    .header-mob__nav ul li.first-drop:hover h4 i{
        @apply text-primary
    }

    .header-mob__nav ul li.first-drop h4 span{
        @apply text-[.8rem] font-[700] text-dgrey
    }

    .header-mob__nav ul li.first-drop h4 i{
        @apply text-[.7rem] mr-[1rem] text-black transition ease-linear duration-300
    }

    .header-mob__nav ul li.first-drop h4 i.open{
        @apply transition ease-linear duration-300
    }

    .header-mob__nav ul li ul{
        @apply max-h-0 overflow-hidden
    }

    .header-mob__nav ul li ul.open{
        @apply max-h-fit
    }

    .header-mob__nav ul li ul.second-drop li{
        @apply py-[.5rem] border-t-[1px]
    }

    .header-mob__nav ul li ul.second-drop li:hover{
        @apply bg-dgrey bg-opacity-5 text-primary transition ease-in-out duration-300
    }

    .header-mob__nav ul li ul.second-drop li a{
        @apply text-[.8rem] px-[2rem] flex
    }

    .header-mob__nav ul li ul.second-drop li h4{
        @apply text-[.8rem] py-0 mb-2 flex items-center justify-between pl-[2rem]
    }

    .header-mob__nav ul li ul.second-drop li h4 span{
        @apply font-[400] text-black 
    }

    .header-mob__nav ul li:hover ul.second-drop li h4 i{
        @apply font-[400] text-black 
    }

    .header-mob__nav ul li ul.second-drop li:hover h4 i{
        @apply text-primary
    }

    .header-mob__nav ul li:hover ul.second-drop li ul li a{
        @apply text-black
    }

    .header-mob__nav ul li ul li ul li a{
        @apply text-[.8rem] px-[4rem] flex hover:text-primary
    }

    .header-mob__nav ul li ul li:hover ul.third-drop li{
        @apply  bg-light
    }

    .header-mob__nav ul li ul li ul.third-drop li:hover{
        @apply  bg-dgrey bg-opacity-5 text-primary transition ease-in-out duration-300
    }

    .toggle__menu.open span{
        @apply z-10 bg-light
    }

    .toggle__menu span{
        @apply w-[1.5rem] h-[.15rem] bg-light block transition ease-in-out duration-500
    }

    .toggle__menu span:nth-child(2){
        @apply my-[.3rem]
    }

    .toggle__menu.open span:first-child{
        @apply translate-y-[5px] rotate-[-230deg] transition ease-in-out duration-500;
    }

    .toggle__menu.open span:nth-child(2){
        @apply opacity-0 transition ease-in-out duration-500;
    }

    .toggle__menu.open span:last-child{
        @apply translate-y-[-9px] rotate-[230deg] transition ease-in-out duration-500;
    }


    /** ---------- DESKTOP HEADER ---------- */

    .header{
        @apply hidden lg:block
    }

    .header1{
        @apply bg-primary
    }

    .header1__wrapper{
        @apply font-[600] grid grid-cols-[_3fr_1fr_1fr] items-center justify-between
    }

    .header1__text{
        @apply text-light gap-x-[1rem] flex items-center 
    }

    .header1__social ul{
        @apply text-light flex gap-x-[1rem] items-center justify-center
    }

    .header1__social a{
        @apply hover:text-black
    }

    .header1__key ul{
        @apply text-light flex gap-x-[1rem] items-center justify-center
    }

    .header1__key ul li i{
        @apply mr-[.5rem]
    }

    .header1__key ul li:last-child{
        @apply border-l-[3px] border-light pl-[1rem]
    }


    .header2{
        @apply z-[999] fixed bg-lblue p-[.5rem] max-w-[75%] left-[13%] top-[7rem] rounded-[.5rem]
    }

    .header2 .container{
        @apply py-[2rem]
    }

    .header2__wrapper{
        @apply grid grid-cols-[2fr_2fr_1fr] gap-x-[1rem] items-center
    }

    .header2__nav{
        @apply relative text-light
    }

    .header2__nav ul{
        @apply flex gap-x-[1.5rem]
    }

    .header2__nav ul li a{
        @apply py-[2rem]
    }

    .header2__nav ul li ul{
        @apply bg-primary flex flex-col gap-x-[1rem] absolute lg:hidden top-[3rem] opacity-0
    }

    .header2__nav ul li:hover ul{
        @apply max-h-fit p-[1rem] w-[15rem] block opacity-100
    }

    .header2__nav ul li ul li:not(:first-child){
        @apply mt-[1rem]
    }

    .header2__nav ul li ul li ul{
        @apply absolute top-[0] right-[-15rem] opacity-0
    }

    .header2__nav ul li:hover ul li ul{
        @apply max-h-fit p-[1rem] w-[15rem] opacity-100
    }

    .header2__btn{
        @apply text-light ml-[2rem]
    }


    /** ---------- BANNER ---------- */

    .banner{
        @apply flex items-center relative bg-banner-bg min-h-[73vh] lg:min-h-[120vh] bg-cover bg-no-repeat lg:justify-start
    }

    .banner__content{
        @apply relative text-light flex flex-col items-center justify-between text-center lg:items-start lg:text-left
    }

    .banner__bg-text h1{
        @apply absolute left-0 top-[-3rem] bg-clip-text text-[4.5rem] text-transparent opacity-[.07] lg:text-[7rem] lg:top-[-2.5rem]
    }

    .banner__item{
        @apply text-light flex items-center justify-between
    }

    .banner__text{
        @apply flex flex-col items-center lg:items-start
    }

    .banner__text h1{
        @apply text-[1.7rem] font-[700] w-[70%] lg:w-[48rem] lg:text-[4rem]
    }

    .banner__text p{
        @apply mt-[1rem] text-[1.4rem] font-[600] w-[26rem] lg:w-[40rem]
    }

    .banner__item img{
        @apply hidden lg:w-[40rem] lg:block
    }

    .banner__content ul{
        @apply flex gap-x-[.5rem] mt-[4rem] tracking-[.1rem]
    }

    .banner__content ul li a{
        @apply text-center lg:min-w-fit
    }


    /** ---------- FEATURE BANNER ---------- */

    .feature{
        @apply p-[1rem]
    }

    .feature__wrapper{
        @apply flex gap-x-[1rem]
    }

    .feature__card{
        @apply flex rounded-[1rem] bg-light border-[2px] border-lgreen w-fit hover:shadow-[0px_0px_50px_0px_rgba(0,0,0,.09)] mb-[1rem] mx-[.4rem] max-w-[30rem] min-h-[18rem] transition ease-in-out duration-300
    }

    .feature__content{
        @apply flex flex-col items-center text-center justify-center min-h-[18rem]
    }

    .feature__content img{
        @apply mb-[1rem]
    }

    .feature__text a{
        @apply text-[1.5rem] font-[600] text-dark hover:text-primary transition ease-in-out duration-300
    }

    .feature__text p{
        @apply text-[1.1rem] font-[500] text-primary cursor-default
    }



    /** ---------- ABOUT BANNER ---------- */

    .about{
        @apply py-[2rem]
    }

    .about__title{
        @apply my-[2rem]
    }

    .about__title h3{
        @apply text-[1.5rem] text-primary font-[800]
    }

    .about__title h4{
        @apply text-[1.5rem] text-dark font-[800]
    }

    .about__title p{
        @apply text-grey text-[1.2rem]
    }

    .about__text{
        @apply my-[1.5rem] border-l-[3px] border-primary pl-[.5rem] pb-[1rem] text-grey
    }

    .about__text h5{
        @apply text-[1.3rem]
    }

    .about__slider h4{
        @apply text-[1.5rem] font-[700] mb-[1rem] text-dark
    }

    .about__circle{
        @apply relative h-[3px] w-[90px] bg-primary rounded-[30px]
    }

    .about__circle:before{
        @apply content-[''] absolute left-0 top-[50%] translate-y-[-50%] border-[6px] border-primary rounded-full animate-sliding1
    }

    .about__circle:after{
        @apply content-[''] absolute right-0 top-[50%] translate-y-[-50%] border-[6px] border-primary rounded-full animate-sliding2
    }

    .about__slider-wrapper{
        @apply flex items-center justify-between gap-x-[1rem] mt-[2rem] mx-auto
    }

    .about__slider-wrapper img{
        @apply max-w-[4rem] mx-auto
    }



    /** ---------- COURSE BANNER ---------- */

    .course{
        @apply bg-course-bg min-h-[50rem] bg-cover bg-center py-[7rem]
    }

    .course__title{
        @apply text-center font-[700] text-[1.6rem] text-primary pb-[3rem]
    }

    .course__title h4{
        @apply text-dark px-[3rem]
    }

    .course__card{
        @apply bg-light shadow-[0_4px_23px_rgba(0,0,0,.1)] rounded-b-[.5rem] mb-[1.5rem] transition ease-in-out duration-300
    }

    .course__card:hover{
        @apply translate-y-[-.5rem] transition ease-in-out duration-300
    }

    .course__img{
        @apply relative
    }

    .course__img-content{
        @apply absolute top-0 p-[1rem] w-[28.2rem]
    }

    .course__img-content ul{
        @apply flex justify-between items-center
    }

    .course__img-content ul li:first-child{
        @apply bg-primary px-[.7rem] py-[.3rem] rounded-[.3rem]
    }

    .course__img-content ul li:first-child {
        @apply text-light text-[1.1rem]
    }

    .course__img-content ul li:last-child{
        @apply bg-light px-[.6rem] py-[.2rem] rounded-[.2rem]
    }

    .course__img-content ul li:last-child a{
        @apply text-primary text-[1.5rem]
    }

    .course__content{
        @apply py-[1rem]
    }

    .course__text{
        @apply p-[1rem]
    }

    .course__text ul li{
        @apply flex items-center text-[1.1rem] text-grey
    }

    .course__text ul li span{
        @apply italic ml-[.2rem]
    }

    .course__text ul li i{
        @apply text-[.8rem] mr-[.3rem] text-primary
    }

    .course__text ul li a{
        @apply mx-[.2rem] text-dblue font-[600]
    }

    .course__text ul li:nth-child(2){
        @apply my-[1rem] pr-[2rem]
    }

    .course__text ul li:nth-child(2) a{
        @apply text-dark font-[600] hover:text-primary transition ease-in-out duration-300
    }

    .course__text ul li img{
        @apply w-[2rem] rounded-full mr-[.5rem]
    }

    .course__subtext{
        @apply border-t-[1px] p-[1rem] flex items-center justify-between
    }

    .course__subtext p{
        @apply text-dark text-[1.1rem] font-[600]
    }

    .course__subtext a{
        @apply text-[1.1rem]
    }


    /** ---------- INSTRUCTOR BANNER ---------- */

    .instructor{
        @apply py-[1rem]
    }

    .instructor__title{
        @apply font-[700] text-[1.6rem] text-primary pb-[2rem]
    }

    .instructor__title h4{
        @apply text-dark w-[17rem]
    }

    .instructor__card{
        @apply text-center bg-light border-[2px] border-lgreen rounded-[.5rem] py-[3rem] shadow-[0px_5px_4px_0px_rgba(0,0,0,.05)] overflow-hidden mb-[.5rem] px-[.5rem]
    }

    .instructor__card:hover{
        @apply  border-light transition ease-in-out duration-300
    }

    .instructor__card:hover .instructor__social:before{
        @apply w-[100%] bg-primary transition-all duration-300
    }

    .instructor__content{
        @apply mb-[1rem] flex flex-col items-center
    }

    .instructor__content h3{
        @apply text-[1.5rem] font-[600] text-dark pt-[.5rem]
    }

    .instructor__content p{
        @apply text-[1.1rem] text-grey
    }

    .instructor__social{
        @apply relative flex justify-center
    }

    .instructor__social:before{
        @apply absolute content-[''] bg-[#ddd] top-0 h-[1px] w-[25%] m-auto transition-all duration-300
    }

    .instructor__social ul{
        @apply flex pt-[1.5rem]
    }

    .instructor__social ul li:nth-child(2){
        @apply mx-[.5rem]
    }

    .instructor__social ul li:first-child a{
        @apply px-[.8rem]
    }

    .instructor__social ul li a{
        @apply bg-lgreen px-[.7rem] py-[.5rem] text-primary text-[1rem] rounded-[.2rem]
    }

    .instructor__social ul li a:hover{
        @apply text-light bg-primary transition ease-in-out duration-300
    }



    /** ---------- PROGRAM BANNER ---------- */

    .program{
        @apply my-[2rem]
    }

    .program__title{
        @apply text-center font-[700] text-[1.6rem] text-primary pb-[3rem]
    }

    .program__title h4{
        @apply text-dark px-[3rem]
    }

    .program__card{
        @apply bg-light border-[2px] border-lgreen rounded-[.5rem] shadow-[0px_0px_30px_0px_rgba(0,0,0,.03)] py-[1.3rem]
    }

    .program__card:not(:first-child){
        @apply mt-[1.5rem]
    }

    .program__card:hover{
        @apply border-light shadow-[0px_0px_50px_0px_rgba(0,0,0,.06)]
    }

    .program__content{
        @apply flex flex-col items-center py-[3rem]
    }

    .program__content a{
        @apply text-[1.5rem] text-dark hover:text-primary font-[600] my-[.5rem] transition ease-in-out duration-300
    }

    .program__content p{
        @apply text-[1.1rem] text-grey
    }



    /** ---------- PROGRAM BANNER ---------- */

    .news__title{
        @apply font-[700] text-[1.6rem] text-primary pb-[2rem]
    }

    .news__title h4{
        @apply text-dark w-[25rem]
    }

    .news__card{
        @apply bg-light shadow-[0px_0px_50px_0px_rgba(0,0,0,.09)]
    }

    .news__content{
        @apply px-[.5rem] py-[1rem]
    }

    .news__content a{
        @apply text-[1.3rem] font-[600]
    }

    .news__content ul{
        @apply flex items-center mt-[1rem] mb-[2rem]
    }

    .news__content ul li{
        @apply text-[1.2rem] font-[400] mr-[1rem] text-primary
    }

    .news__content ul li i{
        @apply mr-[.5rem]
    }

    .news__content ul li a{
        @apply text-[1.2rem] font-[400]
    }
}
